.login {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  background-color: #fff;
  height: 100%;
  width: 100%;
  min-width: 500px;
  min-height: 500px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.inner_login {
  max-width: 1440px;
  gap: 64px;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
}

.main {
  max-width: 360px;
  padding: 0 16px;
  box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
}

.inner_main {
  padding-top: 16px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.entry {
  -webkit-box-flex: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
}

.entry h2 {
  line-height: 30px;
  font-size: 20px;
  color: #000;
  font-weight: 400;
}

.inner_entry {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
}

.inner_entry .input {
  margin-bottom: 20px;
}

.input input {
  display: block;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  line-height: 24px;
  padding: 10px 0 10px 12px;
  border-radius: 8px;
  background: #eee;
  border: 2px solid transparent;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  width: 100%;
}

.message {
  padding-top: 0px;
  color: #e54937;
  line-height: 16px;
  font-size: 13px;
  display: none;
}

.space {
  height: 16px;
}

.inner_entry .button {
  color: rgba(225, 225, 225);
  background: #000;
  min-height: 48px;
  padding: 14px 16px;
  font-weight: 500;
  box-sizing: none;
  line-height: 20px;
  margin: 0;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  -webkit-box-align: center;
  display: flex;
  text-align: center;
}

.button p {
  margin: auto;
}

.inner_entry .bottom {
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  display: flex;
  box-sizing: inherit;
}

.bottom.h3 h3 {
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  margin: 0 8px;
  color: #afafaf;
}

.bottom.h3 h3::before,
.bottom.h3 h3::after {
  background-color: #afafaf;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.bottom.h3 h3::before {
  right: 0.5em;
  margin-left: -50%;
}

.bottom.h3 h3::after {
  left: 0.5em;
  margin-right: -50%;
}

.buttons .btns {
  width: 100%;
}

.buton {
  position: relative;
  width: 100%;
}

.buton button {
  min-height: 48px;
  width: 100%;
  padding: 14px 16px;
  font-weight: 500;
  box-sizing: none;
  line-height: 20px;
  transition: background 200ms cubic-bezier(0, 0, 1, 1);
  color: #000;
  background: #e8e8e8;
  margin-top: 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.inner_buton {
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
  display: flex;
}

.h-space {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.content {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: auto;
}

.inner_content {
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.icon img {
  width: 25px;
}

.pro {
  margin-bottom: 8px;
  margin-top: 10px;
  color: #6b6b6b;
  font-size: 12px;
  padding-right: 16px;
  line-height: 20px;
}


/* Media Queries */ 

@media screen and (max-width: 1024px) {
  .login {
    min-width: 100%;
    overflow-x: hidden;
  }
}